In [1]:
import numpy as np
import pandas as pd

### Cleaning and Preparation of Data

In [2]:
#Preaparation
input_file = 'data.csv'
output_file = 'cleaned_data.csv'

with open(input_file, 'r', encoding='utf-8') as f_in, open(output_file, 'w', encoding='utf-8') as f_out:
    for line in f_in:
        # Split by comma to count columns
        columns = line.strip().split(',')
        # Check if line has exactly 34 columns
        if len(columns) == 34:
            f_out.write(line)

### Data Loading and Inspection

In [3]:
df = pd.read_csv("cleaned_data.csv")
df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,...,NaN,NaN,47.80,NaN,49.70,48.7 [47.8-49.7],NaN,NaN,EN,2024-08-01T22:00:00.000Z
1,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,CAF,Central African Republic,Year,2021,...,NaN,NaN,48.45,NaN,50.92,49.6 [48.5-50.9],NaN,NaN,EN,2024-08-01T22:00:00.000Z
2,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,...,NaN,NaN,50.49,NaN,52.57,51.5 [50.5-52.6],NaN,NaN,EN,2024-08-01T22:00:00.000Z
3,WHOSIS_000001,Life expectancy at birth (years),text,AFR,Africa,Country,SWZ,Eswatini,Year,2021,...,NaN,NaN,50.73,NaN,52.82,51.6 [50.7-52.8],NaN,NaN,EN,2024-08-01T22:00:00.000Z
4,WHOSIS_000001,Life expectancy at birth (years),text,EMR,Eastern Mediterranean,Country,SOM,Somalia,Year,2021,...,NaN,NaN,50.62,NaN,53.10,51.7 [50.6-53.1],NaN,NaN,EN,2024-08-01T22:00:00.000Z

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24288 entries, 0 to 24287
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   IndicatorCode               24288 non-null  object
 1   Indicator                   24288 non-null  object
 2   ValueType                   24288 non-null  object
 3   ParentLocationCode          24288 non-null  object
 4   ParentLocation              24288 non-null  object
 5   Location type               24288 non-null  object
 6   SpatialDimValueCode         24288 non-null  object
 7   Location                    24288 non-null  object
 8   Period type                 24288 non-null  object
 9   Period                      24288 non-null  int64
 10  IsLatestYear                24288 non-null  bool
 11  Dim1 type                   24288 non-null  object
 12  Dim1                        24288 non-null  object
 13  Dim1ValueCode               24288 non-null  object
 14  Dim2 type                   0 non-null      float64
 15  Dim2                        0 non-null      float64
 16  Dim2ValueCode               0 non-null      float64
 17  Dim3 type                   0 non-null      float64
 18  Dim3                        0 non-null      float64
 19  Dim3ValueCode               0 non-null      float64
 20  DataSourceDimValueCode      0 non-null      float64
 21  DataSource                  0 non-null      float64
 22  FactValueNumericPrefix      0 non-null      float64
 23  FactValueNumeric            24288 non-null  float64
 24  FactValueUoM                0 non-null      float64
 25  FactValueNumericLowPrefix   0 non-null      float64
 26  FactValueNumericLow         24248 non-null  float64
 27  FactValueNumericHighPrefix  0 non-null      float64
 28  FactValueNumericHigh        24248 non-null  float64
 29  Value                       24288 non-null  object
 30  FactValueTranslationID      0 non-null      float64
 31  FactComments                0 non-null      float64
 32  Language                    24288 non-null  object
 33  DateModified                24288 non-null  object
dtypes: bool(1), float64(17), int64(1), object(15)
memory usage: 6.1+ MB

In [5]:
df.describe()

,Period,Dim2 type,Dim2,Dim2ValueCode,Dim3 type,Dim3,Dim3ValueCode,DataSourceDimValueCode,DataSource,FactValueNumericPrefix,FactValueNumeric,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,FactValueTranslationID,FactComments
count,24288.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24288.000000,0.0,0.0,24248.000000,0.0,24248.000000,0.0,0.0
mean,2010.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.589327,NaN,NaN,44.202363,NaN,45.007383,NaN,NaN
std,6.344419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.452628,NaN,NaN,26.433955,NaN,26.478474,NaN,NaN
min,2000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.080000,NaN,NaN,8.670000,NaN,9.470000,NaN,NaN
25%,2005.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.780000,NaN,NaN,18.450000,NaN,19.150000,NaN,NaN
50%,2010.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.835000,NaN,NaN,32.515000,NaN,33.235000,NaN,NaN
75%,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.850000,NaN,NaN,71.440000,NaN,72.280000,NaN,NaN
max,2021.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.370000,NaN,NaN,87.320000,NaN,87.420000,NaN,NaN